/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all; 
}

.title {
    font-size: 50px;
}

/* Provide sufficient contrast against white background */

/*.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.nav-item a:hover {
    border-bottom: 3px solid #990033;
}

.nav-item a:focus {
    border-bottom: 3px solid #990033;
}

h4 {
    color: #990033;
}

/* Team interface edits */
.header {
    background-color: #990033;
    color: #eac3c2;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    background-color: #f1f1f1;
    display: inline-block;
}

.container {
    padding: 2px 16px;
}


.row {
    margin: 0 10px;
    padding: 2px 16px;
}

.btn {
    color: white;
    padding: 3px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.btn-interact {
    background-color: #ff5e5e;
    color: white;
    font-weight: bold;
    float: right;
}

    .btn-interact:hover {
        background-color: #990033;
        color: white;
    }

.btn-create {
    background-color: #ff5e5e;
    color: white;
    float: right;
    font-weight: bold;
}

    .btn-create:hover {
        background-color: #990033;
        color: white;
    }

h2 {
    font-size: 14px;
}

.p2 {
 
    margin-left: auto;
}

/*Team edit interface changes*/

.btn-back {
    background-color: #DFDFDF;
    color: black;
}

    .btn-back:hover {
        background-color: #CDCDCD;
    }

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
