@model AuthenticationTest.Models.Team

@{
    ViewData["Title"] = "Join Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>This student does not exist</h4>
    <hr />
    Please go back yo your team's page and ensure you have typed the email correctly.
</div>
</br>
<a asp-action="Index">Back to List</a>
</div>
