@model AuthenticationTest.Models.Team

@{
    ViewData["Title"] = "Join Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Supervise Team</h4>
    <hr />
    Are you sure you want to supervise this team ?
</div>
</br>
<div class="row">
    <div class="col-md-4">
        <form asp-action="JoinTeam">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
                <input asp-action="Index" type="button" value="Cancel" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>
